body {
    background-color: deeppink
}

img {
    display: grid;
    width: auto;
    height: auto;
    display: inline;
    border-radius: 40px;
}

header {
    font-size: 4rem;
    color: white;
    text-align: center;
    padding: 10px;
}